body {
  font-family: 'ABeeZee', sans-serif;
}

* {
  box-sizing: border-box;
}



/* Mobile first */
.app-wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
}


@media (max-width: 576px) {
  .app-wrapper {
    flex-direction: column-reverse;
  }

  .map-container {
    max-height: 40vh;
  }
}

/* Web CSS Breakpoints */
@media (min-width: 769px){
  .app-wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
  }
  
}
