body{
  font-family: 'ABeeZee', sans-serif;
}

.app-wrapper {
  display: flex;
  width: 100vw;
  box-sizing: border-box;
}


.project-details {
  width: 500px;
}

.project-title{
  padding-bottom: 10px  ;
}